.navbar-brand{
    width: 50px;
}

.navbar-brand img{
    width: 100%;
    height: auto;
}

body{
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ubuntu-font{
    font-family: 'Ubuntu', sans-serif !important;
}

#sliders{
    height: 90%;
    overflow-y: hidden;
}

#navigation{
    min-height: 10%;
}

#fore{
    height: 100%;
    background-image: url("assets/nurse.png");
    background-size: 100%;
}

.nav-parent{
    height: 10% !important;
}

.commitment-div{
    width: 50%;
}